body {
  font-family: "Anton", sans-serif;
  color: #000000;
  max-width: 1440px;
}

#header {
  position: absolute;
  top: 3em;
  left: 4em;
}

.header__title {
  opacity: 0;
}

.header__logo {
  width: 207px;
  height: 25px;
}

.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
}

.welcome-text {
  margin: 6em 16em;
  color: #ffd15b;
  text-align: center;
}

.recipes-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10em;
  margin-top: 4em;
}

.recipes-section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-article {
  height: 300px;
}
